/* .card-container {
  width: 200px;
  height: 200px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .front {
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
